.contact-section{
    padding-block: 3vw;
}
.contact-container{
    padding-left: 10vw;
    display: flex;
}
.title{
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 3vw;
}
.title span{
    color: #09b850;
}

.data {
    max-height: 100vw;
    max-width:  35vw;
    display: inline-block;
}
.contact-info{
    display: flex;    
}
.contact-info svg{
    display: flex;
    align-self: center;
    
}