@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(2 6 23);
    --foreground: #ededed;
  }
}

@theme {
 --color-mint-500: rgb(10 30 50);
}

@plugin 'tailwind-scrollbar' {}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
