.contact-container{
    display: flex;
    margin-inline: auto;
    column-gap: 50px;
    max-width: 1000px;
}
.contact-section{
    padding-top: 7vh;
}
.title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.title span{
    color: #09b850;
}
.data {
    max-width:  380px;
    display: inline-block;
}
.data h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.data p{
    margin-bottom: 20px;
    font-size: 17px;
}
.contact-info {
    display: flex; 
    column-gap: 16px;
    font-size: 17px;
    padding-bottom: 16px;
}
.contact-info svg{
    display: flex;
    align-self: center;
    font-size: 40px;
    color: #09b850;
}
.person-info{
    display: flex;
    column-gap: 10px;  
    padding-bottom: 20px; 
    text-align: left;
    background-color: var(--container-color);
}
.person-info input{
    border-radius: 15px;
    border: 1px solid #09b850;
    background-color: var(--container-color);
    width: 100%;
    padding: 12px 24px;
    transition: all .3s ease;  
    resize: none;  
    outline: none;
    color: var(--container-color);
}
.message{
    padding-bottom: 15px; 
}
.message textarea{
    height: 160px;
    width: 100%;
    border: 1px solid #09b850;
    border-radius: 15px;
    padding: 12px 24px;   
    background-color: var(--container-color);    
    resize: none;
    box-sizing: border-box;
    outline: none;
    color: var(--container-color);
}
.form-division button{
    background-color: var(--container-color);
    color: var(--container-color);
    padding: 12px 24px;   
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #09b850;
}
.form-division button:hover{
    background-color: #09b850;
    transition: 0.5s ease-in-out;
}
.info-description{
    font-size: 17px;
}
@media (max-width: 850px) {
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-bottom: 40px;
    }
    .person-info{
        display: grid;
        row-gap: 10px;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 30px;
    }
    .data{
        max-width: 300px;
    }
    .contact-section{
        height: 100%;
    }
}