.mynavbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3%;
  transition: 0.5s;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1020;
  overflow: hidden;
}

nav li{
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  color: #09b850;
  cursor: pointer
}
.toggle-icon{
  width: 2.5rem;
  cursor: pointer;
}
.dark .mynavbar{
  color: #fff;
  background-color: #161618;
}
nav a.active{
  color: #09b850;
  text-decoration: overline;
}
nav a.active:hover{
  color: #09b850;
}
.mylink{
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.mylink:hover{
    color: #71c592db;
    text-decoration: overline;
}
.dark .mylink{
  color: #fff;
}
.dark a.active{
  color: #09b850;
}
.dark a.active:hover{
  color: #09b850;
 
}
.dark .mylink:hover{
  color: #71c592db;
}
