.info-home h1{
    font-size: 40px;
    padding-bottom: 2%;
}
.info-home h1 span{
    font-size: 40px;
    color: #09b850;
    padding-bottom: 2%;
}
.info-home p{
    padding-bottom: 2%; 
    font-size: 18px;
}
.info-home{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.2s ;
    flex-direction: column;
    height: auto;
    text-align: left; 
}
.social-link {
    background-color: var(--container-color);
    color: var(--title-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    transition: all .02s ease-in-out;
}
.socials {
    text-decoration: none;
    display:flex;
    column-gap: 16px;
    padding-bottom: 30px;
}
.info-home .salute{
    font-style: italic;
    font-size: 40px;
    font-family: "Lucida Handwriting", cursive;
}
.button_class{
    display: flex;
    justify-content: space-between;    
    column-gap: 100px;
    flex-wrap: wrap;
}
.button{
    text-decoration: none;
    color: var(--title-color);
    background-color: var(--container-color);
    padding: 12px;
    font-size: 14px;
    transition: all 0.02s ease-in-out;   
    display: inline-block;
    border: 2px solid #09b850;
    cursor: pointer;
    border-radius: 50px;      
    padding-right: 15px;
}
.button:hover{
    background-color: #09b850;
    transition: 0.5s ease-in-out;
}
.button span{
    padding-right: 10px
}
.home-page{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 50px;
    max-width: 1140px;
    margin-inline: auto;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 7vh;
}
.home-page img{
    width: 480px;
    border-radius: 20px   
}
@media (max-width: 1055px) {
    .home-page{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 100px;
        height: 100%;
        padding-bottom: 30px;
    }
    .info-home{
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        padding-top: 20px;
    }
}

